
@{
    ViewBag.Title = "AddStaff";
}
<head>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/Scripts/Common/CommonJS.js"></script>
</head>
<div class="container" style="margin-left:2%">
    <form>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">First Name</label>
                <input type="email" class="form-control" id="txtFirstName" aria-describedby="emailHelp" placeholder="Enter First Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Middle Name</label>
                <input type="email" class="form-control" id="txtMiddleName" aria-describedby="emailHelp" placeholder="Enter Middle Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="email" class="form-control" id="txtLastName" aria-describedby="emailHelp" placeholder="Enter Last Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">DOB</label>
                <input type="date" class="form-control" id="txtDOB" aria-describedby="emailHelp">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Gender</label>
                <select class="form-control" name="cars" id="ddlGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Phone Number</label>
                <input type="email" class="form-control" id="txtParentPhoneNumbe" aria-describedby="emailHelp" placeholder="Enter Phone No">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Higher Eduction</label>
                <select class="form-control" name="cars" id="ddlStaffEduction">
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Admission Date</label>
                <input type="date" class="form-control" id="txtAdmissionDate" aria-describedby="emailHelp">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Facility Email Id</label>
                <input type="email" class="form-control" id="txtStudentEmailId" aria-describedby="emailHelp" placeholder="Enter Student Email Id">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Mother Name</label>
                <input type="email" class="form-control" id="txtMotherName" aria-describedby="emailHelp" placeholder="Enter Mother Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Father Name</label>
                <input type="email" class="form-control" id="txtFatherName" aria-describedby="emailHelp" placeholder="Enter Father Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Parent's Phone Number</label>
                <input type="email" class="form-control" id="txtParentPhoneNumbe" aria-describedby="emailHelp" placeholder="Enter Phone No">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Address1</label>
                <input type="email" class="form-control" id="txtAddress1" aria-describedby="emailHelp" placeholder="Enter Mother Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Address2</label>
                <input type="email" class="form-control" id="txtAddress2" aria-describedby="emailHelp" placeholder="Enter Father Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">State</label>
                <select class="form-control" name="cars" id="ddlState">
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">District</label>
                <select class="form-control" name="cars" id="ddlDistrict">
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Police Station</label>
                <input type="email" class="form-control" id="txtPoliceStation" aria-describedby="emailHelp" placeholder="Enter PS">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Post Office</label>
                <input type="email" class="form-control" id="ddlPostOffice" aria-describedby="emailHelp" placeholder="Enter PO">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Staff Role</label>
                <select class="form-control" name="cars" id="ddlStaffRole">
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">FANCN NO</label>
                <input type="email" class="form-control" id="txtFatherName" aria-describedby="emailHelp" placeholder="Enter Father Name">
            </div>
            @*<div class="col-sm-12 col-md-4">
                    <label for="exampleInputEmail1">Parent's Phone Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone No">
                </div>*@
        </div>
        @*<div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>*@

    </form>
    <button type="submit" class="btn btn-primary" style="margin-top:10%" onclick="SaveStaffReg()">Submit</button>
</div>

<script>
    var IsEdit = "false";
      $(document).ready(function () {
            GetStateList();
          GetDistrictListByStateId(1);
          GetStaffEduction();
          GetStaffRole();
      });
    $("#ddlState").change(function () {
        var StateId = this.value;
        GetDistrictListByStateId(StateId);
    });
    function SaveStaffReg() {
        var FirstName = $('#txtFirstName').val();
        var MiddleName = $('#txtMiddleName').val();
        var LastName = $('#txtLastName').val();
        var DOB = $('#txtDOB').val();
        // var Gender = $('#ddlGender').val();
        var e = document.getElementById("ddlGender");
        var value = e.value;
        var Gender = e.options[e.selectedIndex].text;
        // var StudentClass = $('#ddlClass').val();
        var e1 = document.getElementById("ddlStaffEduction");
        var value = e1.value;
        var StaffEduction = e1.options[e1.selectedIndex].text;
        var AdmissionDate = $('#txtAdmissionDate').val();
        var StudentEmailId = $('#txtStudentEmailId').val();
        var MotherName = $('#txtMotherName').val();
        var FatherName = $('#txtFatherName').val();
        var ParentsPhoneNo = $('#txtParentPhoneNumbe').val();
        var Address1 = $('#txtAddress1').val();
        var Address2 = $('#txtAddress2').val();
        // var State = $('#ddlState').val();
        var e2 = document.getElementById("ddlState");
        var value = e2.value;
        var State = e2.options[e2.selectedIndex].text;
       
        // var District = $('#ddlDistrict').val();
        var e3 = document.getElementById("ddlDistrict");
        var value = e3.value;
        var District = e3.options[e3.selectedIndex].text;

        var e4 = document.getElementById("ddlStaffRole");
        var value = e4.value;
        var StaffRole = e4.options[e2.selectedIndex].text;
        var PolicStation = $('#txtPoliceStation').val();
        var PostOffice = $('#ddlPostOffice').val();
        var student = {
            FirstName: FirstName,
            MiddleName: MiddleName,
            LastName: LastName,
            DOB: DOB,
            Gender: Gender,
            StudentClass: StaffEduction,
            AdmissionDate: AdmissionDate,
            StudentEmailId: StudentEmailId,
            MotherName: MotherName,
            FatherName: FatherName,
            ParentsPhoneNo: ParentsPhoneNo,
            Address1: Address1,
            Address2: Address2,
            State: State,
            District: District,
            PolicStation: PolicStation,
            PostOffice: PostOffice,
            IsEdit: IsEdit,
          //  StudentGuid: StudentGuidVal,
            StaffRole: StaffRole
        }
        $.ajax({
            url: "../../Staff/SaveStaffRegistration",
            type: 'POST',
            data: student,
            // contentType: 'yourConentType', // ConentType that your are sending. No contentType needed if you just posting as query string parameters.
            success: function (response) {
                debugger;
                if (response) {
                    if (IsEdit == "true") {
                        $('#exampleModalLabel').text("Registraion Update Complted");
                    }
                    else {
                        $('#exampleModalLabel').text("Registraion Complted");
                    }

                    $('#SaveRegistraionMsg').text(FirstName + " " + LastName + '  Created Successfully...');
                    $('#exampleModal').modal('show');
                }
                // window.location.href = "/Home/Index/";
                // do whatever you want with response
            },
            error: function (error) {
                console.log(error)
            }
        });
    }
</script>

