
@{
    ViewBag.Title = "NewRegistration";
}
<head>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/Scripts/Common/CommonJS.js"></script>
</head>
<h4>NewRegistration</h4>
<div class="container" style="margin-left:2%">
    <form>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">First Name</label>
                <input type="email" class="form-control" id="txtFirstName" aria-describedby="emailHelp" placeholder="Enter First Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Middle Name</label>
                <input type="email" class="form-control" id="txtMiddleName" aria-describedby="emailHelp" placeholder="Enter Middle Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Last Name</label>
                <input type="email" class="form-control" id="txtLastName" aria-describedby="emailHelp" placeholder="Enter Last Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">DOB</label>
                <input type="date" class="form-control" id="txtDOB" aria-describedby="emailHelp">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Gender</label>
                <select class="form-control" name="cars" id="ddlGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Age</label>
                <input type="email" class="form-control" id="txtAge" aria-describedby="emailHelp" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Choose Class</label>
                <select class="form-control" name="cars" id="ddlClass">
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Admission Date</label>
                <input type="date" class="form-control" id="txtAdmissionDate" aria-describedby="emailHelp">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Student Email Id</label>
                <input type="email" class="form-control" id="txtStudentEmailId" aria-describedby="emailHelp" placeholder="Enter Student Email Id">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Mother Name</label>
                <input type="email" class="form-control" id="txtMotherName" aria-describedby="emailHelp" placeholder="Enter Mother Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Father Name</label>
                <input type="email" class="form-control" id="txtFatherName" aria-describedby="emailHelp" placeholder="Enter Father Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Parent's Phone Number</label>
                <input type="email" class="form-control" id="txtParentPhoneNumbe" aria-describedby="emailHelp" placeholder="Enter Phone No">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Address1</label>
                <input type="email" class="form-control" id="txtAddress1" aria-describedby="emailHelp" placeholder="Enter Mother Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Address2</label>
                <input type="email" class="form-control" id="txtAddress2" aria-describedby="emailHelp" placeholder="Enter Father Name">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">State</label>
                <select class="form-control" name="cars" id="ddlState">
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">District</label>
                <select class="form-control" name="cars" id="ddlDistrict">
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Police Station</label>
                <input type="email" class="form-control" id="txtPoliceStation" aria-describedby="emailHelp" placeholder="Enter PS">
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="exampleInputEmail1">Post Office</label>
                <input type="email" class="form-control" id="ddlPostOffice" aria-describedby="emailHelp" placeholder="Enter PO">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 col-md-4">
                @*<label for="exampleInputEmail1">Are you wants Transpotation </label></br>
        <input type="radio" id="TransYes" name="fav_language" value="TransYes">
        <label for="html">Yes</label><br>
        <input type="radio" id="TransNo" name="fav_language" value="TransNo">
        <label for="css">No</label><br>*@
                <label for="exampleInputEmail1">Are you wants Transpotation </label></br>
                <input id="yes" name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" /> Yes

                <input id="no" name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" checked /> No

                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">                      
                        <label for="exampleInputEmail1">From</label>
                        <select class="form-control" name="cars" id="ddlGender">
                            <option value="Male">Sakra</option>
                            <option value="Female">Sakra Block</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                    <label for="exampleInputEmail1">ANCN NO</label>
                    <input type="email" class="form-control" id="txtFatherName" aria-describedby="emailHelp" placeholder="Enter Father Name">
                </div>
                @*<div class="col-sm-12 col-md-4">
                    <label for="exampleInputEmail1">Parent's Phone Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone No">
                </div>*@
        </div>
        @*<div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>*@

    </form>
    <button type="submit" class="btn btn-primary" style="margin-top:10%"  onclick="SaveStudentReg()">Submit</button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onclick="BtnCloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="SaveRegistraionMsg"></label>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveEmp()">Save changes</button>
            </div>*@
        </div>
    </div>
</div>
<script>
    var IsEdit = "false";
    var StudentGuidVal;
    $(document).ready(function () {
            
            GetStudentClassName();
            GetStateList();
            GetDistrictListByStateId(1);
        StudentGuidVal = "@ViewBag.StudentGuidVal";
           // alert(StudentGuidVal);
        if (StudentGuidVal) {
            IsEdit = "true";
                BindStudentDetailsById(StudentGuidVal);
            }

        });
      
        function GetStudentClassName() {
            $.ajax({
                url: "../../Home/GetStudentClassName",
                type: 'POST',
                success: function (response) {
                    if (response) {
                        for (const element of response) {
                            $("#ddlClass").append($("<option></option>").val(element.ClassId).html(element.ClassName));
                        }
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
        $("#ddlState").change(function () {
            var StateId = this.value;
            GetDistrictListByStateId(StateId);
        });
    
        function SaveStudentReg() {
            var FirstName = $('#txtFirstName').val();
            var MiddleName = $('#txtMiddleName').val();
            var LastName = $('#txtLastName').val();
            var DOB = $('#txtDOB').val();
           // var Gender = $('#ddlGender').val();
            var e = document.getElementById("ddlGender");
            var value = e.value;
            var Gender = e.options[e.selectedIndex].text;
           // var StudentClass = $('#ddlClass').val();
            var e1 = document.getElementById("ddlClass");
            var value = e1.value;
            var StudentClass = e1.options[e1.selectedIndex].text;
            var AdmissionDate = $('#txtAdmissionDate').val();
            var StudentEmailId = $('#txtStudentEmailId').val();
            var MotherName = $('#txtMotherName').val();
            var FatherName = $('#txtFatherName').val();
            var ParentsPhoneNo = $('#txtParentPhoneNumbe').val();
            var Address1 = $('#txtAddress1').val();
            var Address2 = $('#txtAddress2').val();
           // var State = $('#ddlState').val();
            var e2 = document.getElementById("ddlState");
            var value = e2.value;
            var State = e2.options[e2.selectedIndex].text;
           // var District = $('#ddlDistrict').val();
            var e3 = document.getElementById("ddlDistrict");
            var value = e3.value;
            var District = e3.options[e3.selectedIndex].text;
            var PolicStation = $('#txtPoliceStation').val();
            var PostOffice = $('#ddlPostOffice').val();
            var student = {
                FirstName: FirstName,
                MiddleName: MiddleName,
                LastName: LastName,
                DOB: DOB,
                Gender: Gender,
                StudentClass: StudentClass,
                AdmissionDate: AdmissionDate,
                StudentEmailId: StudentEmailId,
                MotherName: MotherName,
                FatherName: FatherName,
                ParentsPhoneNo: ParentsPhoneNo,
                Address1: Address1,
                Address2: Address2,
                State: State,
                District: District,
                PolicStation: PolicStation,
                PostOffice: PostOffice,
                IsEdit: IsEdit,
                StudentGuid: StudentGuidVal
            }
            $.ajax({
                url: "../../Home/SaveStudentRegistration",
                type: 'POST',
                data: student,
                // contentType: 'yourConentType', // ConentType that your are sending. No contentType needed if you just posting as query string parameters.
                success: function (response) {
                    debugger;
                    if (response) {
                        if (IsEdit == "true") {
                            $('#exampleModalLabel').text("Registraion Update Complted");
                        }
                        else {
                            $('#exampleModalLabel').text("Registraion Complted");
                        }
                        
                        $('#SaveRegistraionMsg').text(FirstName + " "+LastName +'  Created Successfully...');
                        $('#exampleModal').modal('show');
                    }
                   // window.location.href = "/Home/Index/";
                    // do whatever you want with response
                },
                error: function (error) {
                    console.log(error)
                }
            });
    }
    function BindStudentDetailsById(StudentGuidVal) {
        debugger
        $.ajax({
            url: "../../Home/BindStudentDetailsById",
            type: 'POST',
            data: { StudentGuid: StudentGuidVal },
            // contentType: 'yourConentType', // ConentType that your are sending. No contentType needed if you just posting as query string parameters.
            success: function (data) {
                debugger
                GetDistrictListByStateId(data.data.StateId);
                if (data) {
                    debugger
                    $('#txtFirstName').val(data.data.FirstName);
                    $('#txtMiddleName').val(data.data.MiddleName);
                    $('#txtLastName').val(data.data.LastName);
                    $('#txtDOB').val(data.data.DOB);
                    $('#ddlClass').val(data.data.ClassId);
                    $('#ddlGender').val(data.data.Gender);
                    $('#txtAdmissionDate').val(data.data.AdmissionDate);
                    $('#txtStudentEmailId').val(data.data.StudentEmailId);
                    $('#txtMotherName').val(data.data.MotherName);
                    $('#txtFatherName').val(data.data.FatherName);
                    $('#txtParentPhoneNumbe').val(data.data.ParentsPhoneNo);
                    $('#txtAddress1').val(data.data.Address1);
                    $('#txtAddress2').val(data.data.Address2);
                    $('#ddlState').val(data.data.StateId);
                    $('#ddlDistrict').val(data.data.DistrictId);
                    $('#txtPoliceStation').val(data.data.PolicStation);
                    $('#ddlPostOffice').val(data.data.PostOffice);
                }
              //  window.location.href = "/Home/NewRegistration?StudentGuidVal=" + StudentGuid
                // do whatever you want with response
            },
            error: function (error) {
                console.log(error)
            }
        });
    }
    function BtnCloseModal() {
        window.location.href = "/Home/Index/";
    }

    var yesRadio = $('#yes'),
        noRadio = $('#no');

    yesRadio.click(function () {
        if ($('#collapseOne').hasClass('in')) {
            return false;
        }
    });

    noRadio.click(function () {
        if (!$('#collapseOne').hasClass('in')) {
            return false;
        }
    });
</script>
